@import "font/font.css.css"; 
body{ 
    color: #333; 
   font-family: 'Verdana';
}
.login{
        width: 200px; 
        height:400px;
        margin: 0 auto;
        text-align: center; 
}
.login fieldset{
    margin : 0 ; 
    padding: .5em 0 0.8em;
    border: 1px solid silver;
}
.login input {
        font-family: 'Verdana';
}
.login input[type = text],
.login input[type = password]{
    text-align: center;
    padding: .5em .6em ;
    border: 1px solid #ccc;
    color:#428bf9; 
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;

}


.login input[type = date]{
    text-align: center;
    padding: .4em .5em ;
    border: 1px solid #ccc;
    color:#428bf9; 
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    position: center;

}



.login input[type = submit]:focus,
.login input[type = reset]:focus,
.login input[type = submit]:hover,
.login input[type = reset]:hover{
    
   background-image : linear-gradient(transparent, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.1));
}



.pass{

    margin-left: 60px;
    margin-top: 25px;
}

#res{

    margin-top: 25px; 

}