<head>
 <title>MBSTORE|BAJA</title>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>!windows.jquery && document.write("<script src='js/jquery.min.js'><\/script>");
  </script>
  <script src="jquery.flexslider-min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=1220" /> 
    <script src="./js/Scriptsmenu.js"></script>
    <script src="./js/Funciones.js"></script>
      <script type="text/javascript">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
  <!-- [if lt IE 9]>
    <script src="html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
 <header>
    <a href="">
                <img class="fade" alt="MBSTORE| 2016" src="../img/mbstore.png" />
        </a></header>

 <link rel="stylesheet" href="../css/estilos.css"/> <link rel="stylesheet" href="../css/style.css"/>

<div>

<p>
        {ETIQUETA}
</p>
<section id="principal">
<form name="forma" action="baja.php" method="post" onsubmit="return validar()">
<fieldset>
    <legend>Baja de usuario</legend>
    
 	<div>
    <label for="idUsuario">Ingrese el Usuario a eliminar</label>
    <input title ="Campo obligatorio" type="text" id="idUsuario" name="Usuario" required />
    </div>
    
    <div align="center" class='contacto'>
    <input class="btn" type="submit" value="Enviar" action="baja.php"/>
    </div>
    
</fieldset>
</form>
</div>
</section>
