<head>
 <title>MBSTORE|CAMBIOS</title>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>!windows.jquery && document.write("<script src='js/jquery.min.js'><\/script>");
  </script>
  <script src="jquery.flexslider-min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=1220" /> 
    <script src="./js/Scriptsmenu.js"></script>
    <script src="./js/Funciones.js"></script>
      <script type="text/javascript">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
  <!-- [if lt IE 9]>
    <script src="html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
 <header>
    <a href="">
                <img class="fade" alt="MBSTORE| 2016" src="../img/mbstore.png" />
        </a></header>

 <link rel="stylesheet" href="../css/estilos.css"/> <link rel="stylesheet" href="../css/style.css"/>
<div>

<p>
        {ETIQUETA}
</p>

<form name="forma" action="modificar.php" method="post">
<fieldset>
    <legend>Modificar a un usuario</legend>
    
 	<div>
	    <input title ="Campo obligatorio" type="search" size="27" name="Usuario" placeholder="Ingresa el usuario" required/>
	</div>


       <div>
         <input type="radio" name="cambios" value="nombre" checked="checked"><label>Nombre</label>
         <input type="radio" name="cambios" value="ap_paterno" checked="checked"><label>Apellido paterno</label>
         <input type="radio" name="cambios" value="ap_materno"><label>Apellido materno</label>
	       <input type="radio" name="cambios" value="genero"><label>G&eacute;nero</label>
         <input type="radio" name="cambios" value="fecha_nacimiento"><label>Fecha de nacimiento</label>
         <input type="radio" name="cambios" value="correo_electronico"><label>Correo electr&oacute;nico</label>
         <input type="radio" name="cambios" value="usuario"><label>Usuario</label>
         <input type="radio" name="cambios" value="contrasena"><label>Contraseña</label>
       </div>

	<div>
	    <input title ="Campo obligatorio" type="search" size="25" name="nuevo" placeholder="Nuevo campo" required/>
	</div>

    
	<div aling="center" class='contacto'>
	   <input class="btn" type="submit" value="Enviar" />
	</div>
     
   
    <div id="contenido" class="contenido">
   
   </div>

    
</fieldset>
</form>
</div>
